* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  display: grid;
  place-items: center;
  font-family: 'Rubik', sans-serif;
}

.header {
    width: fit-content;
    height: fit-content;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgb(23, 23, 191) 35%, rgba(0,212,255,1) 100%);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* box-shadow: 6px 2px 2px rgb(0, 136, 255); */
}

.header h1 {
    padding: 10px;
    color: #fff;
    text-align: center;
}

/* .tic-tac-toe {
  background: lightsalmon;
} */

.score {
  gap: 40px;
  margin: 40px auto;
  display: flex;
  justify-content: center;
}

.x,
.o {
  gap: 30px;
  display: flex;
  padding: 8px 20px;
  border-radius: 3px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 4px solid rgba(0,212,255,1);
}

.x span:first-child,
.o span:first-child {
  color: rgb(23, 23, 191);
  font-size: 20px;
  font-weight: 600;
}

.game {
  gap: 10px;
  display: grid;
  grid-template-columns: repeat(3, 100px);
}
.box {
  font-size: 3rem;
  display: grid;
  place-items: center;
  height: 100px;
  background-color: rgba(0, 0, 0, 0.1);
}
.reset {
  display: grid;
  place-items: center;
  margin: 40px auto;
}

.reset button {
  color: white;
  border: none;
  outline: none;
  padding: 10px 16px;
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgb(23, 23, 191) 35%, rgba(0,212,255,1) 100%);
  border-radius: 8px;
  font-weight: 800;
}

.box.win {
  position: relative;
}

.box.win::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: rotate(90deg);
  background-color: rgb(0, 98, 255);
  opacity: 0.5;
}

.line {
  position: absolute;
  z-index: 1;
  pointer-events: none;
  background-color: black;
  width: 8px;
  height: var(--length);
  transform: translate(-50%, -50%) rotate(var(--angle));
}

.line::before {
  content: "";
  position: absolute;
  top: calc(50% - 1px);
  left: -4px;
  width: 16px;
  height: 2px;
  background-color: black;
}

.line::after {
  content: "";
  position: absolute;
  top: calc(50% - 1px);
  left: -4px;
  width: 16px;
  height: 2px;
  background-color: black;
  transform: rotate(90deg);
}

.line:nth-of-type(1) {
  --length: 100px;
  --angle: 0deg;
}

.line:nth-of-type(2) {
  --length: 100px;
  --angle: 45deg;
}

.line:nth-of-type(3) {
  --length: 140px;
  --angle: 90deg;
}

.line:nth-of-type(4) {
  --length: 100px;
  --angle: 135deg;
}
